
@{
    ViewBag.Title = "Products";
}

<!-- MetisMenu CSS -->
<link href="/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
<!-- DataTables CSS -->
<link href="/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet">
<!-- DataTables Responsive CSS -->
<link href="/bower_components/datatables-responsive/css/dataTables.responsive.css" rel="stylesheet">
<!-- Custom Fonts -->
<link href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<!-- DataTables JavaScript -->
<script src="/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
<!-- Summernote -->
<link href="/bower_components/summernote/css/summernote.css" rel="stylesheet" type="text/css">
<script src="/bower_components/summernote/js/summernote.min.js"></script>


<h2>Products</h2>

<script>

    $(document).ready(function () {

        //<--Event jQuery -->

        $.ajaxSetup({ async: false });
        $.ajax({
            type: "GET",
            url: "http://localhost:58176/Product/getAllProducts",
            data: "",
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (data) {

                var Data = [];
                $.each(data, function () {
                    var obj = {
                        Id: this.Id,
                        Code: this.Code,
                        Name: this.Name,
                        Price: this.Price,
                        ProductType: getProductType(this.IdProductType)
                    }
                    Data.push(obj);
                })
                //<!--DataTables  Initialization -- >
                $table = $("#myDT").DataTable({
                    responsive: true,
                    "data": Data,
                    "columns": [
                        { "data": "Id" },
                        { "data": "Code" },
                        { "data": "Name" },                     
                        { "data": "ProductType"},
                        { "data": "Price" },
                        {
                            "defaultContent": "<button type=\"button\"  data-toggle='modal' data-target='#DeleteModal' class=\"glyphicon glyphicon-trash\" onclick = \"removeRow(this)\"></button> " +
                            "<button type=\"button\" data-toggle=\"modal\" data-target=\"#myModal\" onclick =\"editProduct(this)\" class = \"glyphicon glyphicon-pencil\">"
                        }
                    ],
                    "columnDefs": [{
                        "targets": [5],
                        "orderable": false
                    }]
                });
            },
            error: function () {
                ValidateMyAlert("Class='alert alert-danger'", 'error', 'Danger', "#alertContainer");
            }
        });

        $("#createProduct").click(function () {

            window.location.replace('http://localhost:58176/Product/Create');
        })


        $("#yesDelete").click(function () {
            $.ajax({
                type: "DELETE",
                url: "http://localhost:58176/Product/RemoveProduct",
                data: JSON.stringify({ ProductId: $("#HiddenIndexDelete").val() }),
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    if (data) {
                        $table.row($("#indexId").val()).remove().draw();
                    }
                    else {
                        Console.log("data is false");
                    }
                },
                error: function () {
                    Alert("Error");
                }
            });
            $("#closeDeleteModal").click();
        });

    });

    function getProductType(numType) {
        var type = "";
        $.ajax({
            type: "GET",
            url: "http://localhost:58176/ProductType/GetProductTypeById",
            data: { productTypeId: numType },
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                type = data.Name;
            }
        });
        return type;
    }

    function removeRow(button) {
        var actualRow = $(button).parents("tr");
        var rowIndex = $table.row(actualRow).index();
        var row = $table.row(rowIndex).data();
        $("#HiddenIndexDelete").val(row.Id);
        $("#indexId").val(rowIndex);
    }

    function editProduct(button) {
        var actualRow = $(button).parents("tr");
        var rowIndex = $table.row(actualRow).index();
        var row = $table.row(rowIndex).data();
        window.location.replace('http://localhost:58176/Product/Edit?ProductId=' + row.Id );
    }

</script>


<div id="alertContainer"> </div>

<div class="panel-heading">
    DataTable Advanced Table |
    <button type="button" class="glyphicon glyphicon-plus" id="createProduct"></button>
</div>
<table id="myDT" class="table">
    <thead>
        <tr>
            <th>
                <label>Id</label>
            </th>
            <th>
                <label>Code</label>
            </th>
            <th>
                <label>Name</label>
            </th>
            <th>
                <label>ProducType</label>
            </th>
            <th>
                <label>Price</label>
            </th>
            <th>
                <label>Buttons</label>
            </th>
        </tr>
    </thead>
    <tbody>
</table>

        <!-- Delete Modal -->
        <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="titleModelDelete">Delete</h4>
                    </div>
                    <div id="rowModalBody" class="modal-body">
                        <label for="usr">Are you sure you want to delete a row</label><br>
                        <button type="button" class="btn btn-default" id="yesDelete">yes</button>
                        <button type="button" class="btn btn-default" id="noDelete" data-dismiss="modal">No</button>
                        <input type="text" class="HiddenIndexx" id="HiddenIndexDelete" style="display:none"> </input>
                        <input type="text" class="HiddenIndexx" id="indexId" style="display:none"> </input>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" id="closeDeleteModal">Close</button>
                    </div>
                </div>
            </div>
        </div>
