
@{
    ViewBag.Title = "ProducType";
}

<!-- MetisMenu CSS -->
<link href="/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
<!-- DataTables CSS -->
<link href="/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet">
<!-- DataTables Responsive CSS -->
<link href="/bower_components/datatables-responsive/css/dataTables.responsive.css" rel="stylesheet">
<!-- Custom Fonts -->
<link href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<!-- DataTables JavaScript -->
<script src="/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
<!-- Summernote -->
<link href="/bower_components/summernote/css/summernote.css" rel="stylesheet" type="text/css">
<script src="/bower_components/summernote/js/summernote.min.js"></script>


<h2>ProducType</h2>

<script>

    $(document).ready(function () {

        $("#myModal").on('hidden.bs.modal', function () {
            $("#HiddenIndexDelete").val("");
            $("#indexId").val("");
            $("#modalName").val("");
            $("#Add").css("display", "inline");
            $("#edit").css("display", "none");
            $("#HiddenId").css("display", "none");
            $("#titleModel").text("Add new Row to table");
            $(".HiddenIndex, input[type='date]'").removeClass("Error");
            $("#myModal p[Class='alert alert-danger']").remove();
        });

        $("#yesDelete").click(function () {
            $.ajax({
                type: "DELETE",
                url: "http://localhost:58176/ProductType/RemoveProductType",
                data: JSON.stringify({ productTypeId: $("#HiddenIndexDelete").val() }),
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    if (data) {
                        $table.row($("#indexId").val()).remove().draw();
                    }
                    else {
                        Console.log("data is false");
                    }
                },
                error: function () {
                    Alert("Error");
                }
            });
            $("#closeDeleteModal").click();
        });

        $.ajaxSetup({ async: false });
        $.ajax({
            type: "GET",
            url: "http://localhost:58176/ProductType/getAllProductType",
            data: "",
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (data) {

                var Data = [];
                $.each(data, function () {
                    var obj = {
                        Id: this.Id,
                        Name: this.Name,
                        CategoryId: getCategory(this.CategoryId)
                    }
                    Data.push(obj);
                })
                //<!--DataTables  Initialization -- >
                $table = $("#myDT").DataTable({
                    responsive: true,
                    "data": Data,
                    "columns": [
                        { "data": "Id" },
                        { "data": "Name" },
                        { "data": "CategoryId" },
                        {
                            "defaultContent": "<button type=\"button\"  data-toggle='modal' data-target='#DeleteModal' class=\"glyphicon glyphicon-trash\" onclick = \"removeRow(this)\"></button> " +
                            "<button type=\"button\" data-toggle=\"modal\" data-target=\"#myModal\" onclick =\"editRow(this)\" class = \"glyphicon glyphicon-pencil\">"
                        }
                    ],
                    "columnDefs": [{
                        "targets": [3],
                        "orderable": false
                    }]
                });
            },
            error: function () {
                ValidateMyAlert("Class='alert alert-danger'", 'error', 'Danger', "#alertContainer");
            }
        });

        $.ajax({
            type: "GET",
            url: "http://localhost:58176/Category/getAllCategories",
            data: "",
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $.each(data, function () {
                    $("#selectCategory").append("<option value=" + this.Id + " >" + this.Name + "</option>");
                });
            }
        });


    });

    function AddUser() {
        $.ajaxSetup({ async: false });
        $.ajax({
            type: "POST",
            url: "http://localhost:58176/ProductType/AddProductType",
            data: JSON.stringify({
                Name: $("#modalName").val(),
                CategoryId: $("#selectCategory").val()
            }),
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (data) {
                    var obj = {
                        Id: data.Id,
                        Name: data.Name,
                        CategoryId: getCategory(data.CategoryId)
                    }
                    $table.row.add(obj).draw();
                    $("#closeMyModal").click();
                }
            }
        });
    }

    function removeRow(button) {
        var actualRow = $(button).parents("tr");
        var rowIndex = $table.row(actualRow).index();
        var row = $table.row(rowIndex).data();
        $("#HiddenIndexDelete").val(row.Id);
        $("#indexId").val(rowIndex);
    }


    function editRow(button) {
        $("#Add").css("display", "none");
        $("#edit").css("display", "inline");
        $("#HiddenId").css("display", "inline");
        $("#titleModel").text("Edit Row");
        var ActualRow = $(button).parents("tr");
        var rowIndex = $table.row(ActualRow).index();
        var row = $table.row(rowIndex).data();
        $("#UserId").val(row.Id);
        $("#modalName").val(row.Name);
        $("#selectCategory option").each(function () { this.selected = (this.text == row.CategoryId); });
        $("#indexId").val(rowIndex);
    }
    function editUserBotton() {
        $.ajaxSetup({ async: false });
        $.ajax({
            type: "PUT",
            url: "http://localhost:58176/ProductType/UpdateProductType",
            data: JSON.stringify({
                Id: $("#UserId").val(),
                Name: $("#modalName").val(),
                CategoryId: $("#selectCategory").val()              
            }),
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (data) {
                    var obj = {
                        Id: data.Id,
                        Name: data.Name,                      
                        CategoryId: getCategory(data.CategoryId)
                    };
                    $table.row($("#indexId").val()).data(obj).draw();
                    $("#closeMyModal").click();
                }
                else {
                    console.log("false")
                    //ValidateMyAlert("Class='alert alert-warning'", 'Something is wrong', 'Warning', "#alertContainer");
                }
            }
        });
    }

    function getCategory(NumCategory) {
        var type = "";
        $.ajax({
            type: "GET",
            url: "http://localhost:58176/Category/getCategory",
            data: { CategoryId: NumCategory },
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                type = data.Name;
            }
        });
        return type;
    }

    //Validations
    function ValidateMyAlert(pClass, pString, tMessege, insertSide) {
        if (!$("p[" + pClass + "]").length) {
            $(insertSide).prepend("<p " + pClass + "><strong>" + tMessege + "</strong> " + pString + " </p>");
        }
        else {
            $("p[" + pClass + "]").remove();
            $(insertSide).prepend("<p " + pClass + "><strong>" + tMessege + "</strong> " + pString + " </p>");
        }
    }

    function validateMyModal() {
        var cellEmty = true;
        if ($("input[type='text']").val()) {
            changeClass($("input[type='text']").parent(), "has-error", "has-success");
            cellEmty = false;
        }
        else { changeClass($("input[type='text']").parent(), "has-success", "has-error"); }
        return cellEmty;
    }

    function changeClass(input, classRemove, classAdd) {
        input.removeClass(classRemove);
        input.addClass(classAdd);
    }

</script>


<div id="alertContainer"> </div>

<div class="panel-heading">
    DataTable Advanced Table |
    <button type="button" class="glyphicon glyphicon-plus" data-toggle="modal" data-target="#myModal"></button>
</div>
<table id="myDT" class="table">
    <thead>
        <tr>
            <th>
                <label>Id</label>
            </th>
            <th>
                <label>Name</label>
            </th>
            <th>
                <label>Category</label>
            </th>
            <th>
                <label>Buttons</label>
            </th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="titleModel">Add new Row to table</h4>
            </div>

            <div class="modal-body">

                <div style="display:none" id="HiddenId">
                    <label for="qwe"> Id</label><br>
                    <input type="text" class=" form-control HiddenIndexx" id="UserId" disabled> </input><br>
                </div>
                <label>Name:</label><br>
                <input type="text" class="form-control" id="modalName"> </input><br>
                <label>Category:</label><br>
                <select id="selectCategory" class="form-control"></select>
                <input type="text" class="form-control" style="display:none" id="indexId"> </input><br>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="closeMyModal">Close</button>
                    <button type="button" class="btn btn-default" id="Add" onclick="AddUser()">Add</button>
                    <button type="button" class="btn btn-default" id="edit" onclick="editUserBotton()" style="display:none">Edit</button>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="titleModelDelete">Delete</h4>
            </div>
            <div id="rowModalBody" class="modal-body">
                <label for="usr">Are you sure you want to delete a row</label><br>
                <button type="button" class="btn btn-default" id="yesDelete">yes</button>
                <button type="button" class="btn btn-default" id="noDelete" data-dismiss="modal">No</button>
                <input type="text" class="HiddenIndexx" id="HiddenIndexDelete" style="display:none"> </input>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="closeDeleteModal">Close</button>
            </div>
        </div>
    </div>
</div>
